html {
    background-color: var(--html-background);
}

.bg-gray {
    background-color: var(--gray);
    color: var(--color-on-gray);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
    color: var(--color-on-gray-dark);
}

.bg-black {
    background-color: var(--black);
    color: var(--color-on-black);
}

.bg-white {
    background-color: var(--white);
    color: var(--font-color);
}

.bg-primary {
    background-color: var(--primary);
    color: var(--color-on-primary);
}

.bg-accent {
    background-color: var(--accent);
    color: var(--color-on-accent);
}

.bg-danger {
    background-color: var(--danger);
    color: var(--color-on-danger);
}

.bg-success {
    background-color: var(--success);
    color: var(--color-on-success);
}

.bg-error {
    background-color: var(--error);
    color: var(--color-on-error);
}

.bg-warning {
    background-color: var(--warning);
    color: var(--color-on-warning);
}
