.icon-gray {
    color: var(--gray);
}

.icon-gray-dark {
    color: var(--gray-dark);
}

.icon-success {
    color: var(--icon-success);
}

.icon-primary {
    color: var(--primary);
}

.icon-accent {
    color: var(--accent);
}

.icon-danger {
    color: var(--danger);
}

.icon-black {
    color: var(--black);
}

.icon-white {
    color: var(--white);
}
