.flex-100 {
    flex: 1 1 100%;
}

.flex-90 {
    flex: 0 0 90%;
}

.flex-80 {
    flex: 0 0 80%;
}

.flex-75 {
    flex: 0 0 75%;
}

.flex-70 {
    flex: 0 0 70%;
}

.flex-60 {
    flex: 0 0 60%;
}

.flex-50 {
    flex: 0 0 50%;
}

.flex-33 {
    flex: 0 0 33.33%;
}

.flex-30 {
    flex: 0 0 30%;
}

.flex-25 {
    flex: 0 0 25%;
}

.flex-20 {
    flex: 0 0 20%;
}

.flex-16 {
    flex: 0 0 16.67%;
}

.flex-10 {
    flex: 0 0 10%;
}

.flex-8 {
    flex: 0 0 8.33%;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: auto;
    width: initial;
    max-width: fit-content;
}

.flex-fill {
    flex: 1;
    min-width: initial;
    width: 100%;
    max-width: initial;
}

@media (min-width: (@lg + 1px)) {
    .desktop-flex-100 {
        flex: 1 1 100%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-90 {
        flex: 0 0 90%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-80 {
        flex: 0 0 80%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-75 {
        flex: 0 0 75%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-70 {
        flex: 0 0 70%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-60 {
        flex: 0 0 60%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-50 {
        flex: 0 0 50%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-33 {
        flex: 0 0 33.33%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-30 {
        flex: 0 0 30%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-25 {
        flex: 0 0 25%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-20 {
        flex: 0 0 20%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-16 {
        flex: 0 0 16.67%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-10 {
        flex: 0 0 10%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-8 {
        flex: 0 0 8.33%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .desktop-flex-auto {
        flex: 1 1 auto;
        min-width: auto;
        width: initial;
        max-width: fit-content;
    }

    .desktop-flex-fill {
        flex: 1;
        min-width: initial;
        width: 100%;
        max-width: initial;
    }
}

@media (min-width: @md) and (max-width: @lg) {
    .tablet-flex-100 {
        flex: 1 1 100%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }
    .tablet-flex-90 {
        flex: 0 0 90%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }
    .tablet-flex-80 {
        flex: 0 0 80%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-75 {
        flex: 0 0 75%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-70 {
        flex: 0 0 70%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-60 {
        flex: 0 0 60%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-50 {
        flex: 0 0 50%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-33 {
        flex: 0 0 33.33%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-30 {
        flex: 0 0 30%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-25 {
        flex: 0 0 25%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-20 {
        flex: 0 0 20%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-16 {
        flex: 0 0 16.67%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-10 {
        flex: 0 0 10%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-8 {
        flex: 0 0 8.33%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .tablet-flex-auto {
        flex: 1 1 auto;
        min-width: auto;
        width: initial;
        max-width: fit-content;
    }
    .tablet-flex-fill {
        flex: 1;
        min-width: initial;
        width: 100%;
        max-width: initial;
    }
}

@media (max-width: (@md - 1px)) {
    .mobile-flex-100 {
        flex: 1 1 100%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile--flex-90 {
        flex: 0 0 90%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-80 {
        flex: 0 0 80%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-75 {
        flex: 0 0 75%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-70 {
        flex: 0 0 70%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-60 {
        flex: 0 0 60%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-50 {
        flex: 0 0 50%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-33 {
        flex: 0 0 33.33%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-30 {
        flex: 0 0 30%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-25 {
        flex: 0 0 25%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-20 {
        flex: 0 0 20%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-16 {
        flex: 0 0 16.67%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-10 {
        flex: 0 0 10%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-8 {
        flex: 0 0 8.33%;
        min-width: initial;
        width: initial;
        max-width: initial;
    }

    .mobile-flex-auto {
        flex: 1 1 auto;
        min-width: auto;
        width: initial;
        max-width: fit-content;
    }
    .mobile-flex-fill {
        flex: 1;
        min-width: initial;
        width: 100%;
        max-width: initial;
    }
}
