.f-100 {
    flex: 1 1 100%;
}

.f-90 {
    flex: 0 0 90%;
}

.f-80 {
    flex: 0 0 80%;
}

.f-75 {
    flex: 0 0 75%;
}

.f-70 {
    flex: 0 0 70%;
}

.f-60 {
    flex: 0 0 60%;
}

.f-50 {
    flex: 0 0 50%;
}

.f-33 {
    flex: 0 0 33.33%;
}

.f-30 {
    flex: 0 0 30%;
}

.f-25 {
    flex: 0 0 25%;
}

.f-20 {
    flex: 0 0 20%;
}

.f-16 {
    flex: 0 0 16.67%;
}

.f-10 {
    flex: 0 0 10%;
}

.f-8 {
    flex: 0 0 8.33%;
}

.f-auto {
    flex: 1 1 auto;
    min-width: auto;
    width: initial;
    max-width: fitcontent;
}

.f-fill {
    flex: 1;
    min-width: initial;
    width: 100%;
    max-width: initial;
}

@media (min-width: @md) and (max-width: @lg) {
    .tf-100 {
        .f-100();
    }

    .tf-90 {
        .f-90();
    }

    .tf-80 {
        .f-80();
    }

    .tf-75 {
        .f-75();
    }

    .tf-70 {
        .f-70();
    }

    .tf-60 {
        .f-60();
    }

    .tf-50 {
        .f-50();
    }

    .tf-33 {
        .f-33();
    }

    .tf-30 {
        .f-30();
    }

    .tf-25 {
        .f-25();
    }

    .tf-20 {
        .f-20();
    }

    .tf-16 {
        .f-16();
    }

    .tf-10 {
        .f-10();
    }

    .tf-8 {
        .f-8();
    }

    .tf-auto {
        .f-auto();
    }

    .tf-fill {
        .f-fill();
    }
}

@media (max-width: (@md - 1px)) {
    .mf-100 {
        .f-100();
    }

    .mf-90 {
        .f-90();
    }

    .mf-80 {
        .f-80();
    }

    .mf-75 {
        .f-75();
    }

    .mf-70 {
        .f-70();
    }

    .mf-60 {
        .f-60();
    }

    .mf-50 {
        .f-50();
    }

    .mf-33 {
        .f-33();
    }

    .mf-30 {
        .f-30();
    }

    .mf-25 {
        .f-25();
    }

    .mf-20 {
        .f-20();
    }

    .mf-16 {
        .f-16();
    }

    .mf-10 {
        .f-10();
    }

    .mf-8 {
        .f-8();
    }

    .mf-auto {
        .f-auto();
    }

    .mf-fill {
        .f-fill();
    }
}
